@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
$main-title: "Montserrat";
$big-title: 600;
$regular-title: 400;
$small-title: 300;
$main-title-respaldo: "sans-serif";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,600");
$main-font: "Cabin";
$big-title: 600;
$medium-title:500;
$regular-title: 400;
$main-font-respaldo: "sans-serif";