.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 200;

    width: 50px;
    top: 0.2rem;
    left: 0.1rem;

    &__img {
    max-width: 100%;
    }

    @include laptop {
    position: absolute;
      left: 30px;
      top: 1rem;
      width: 5%;
    }

}