.main-menu {
    @include reset-list;

    border-top: 1px solid $dark-color;
    background-color: $dark-color-2;

    &__item {
        line-height: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid $dark-color;

        @include laptop {
            line-height: 3rem;
            border: none;
        }
    }

    &__link {
        text-decoration: none;
        color: $text-color;
        font-size: 1.2rem;

        &--active {
            color: $primary-color;
        }
    }

    @include laptop {
        border: none;
        height: 100vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
    }
}